body {
  font-family: sans-serif;
  border: 2px solid #000000;
  font-size: 16px;
}

.hidden {
  display: none;
}

.main-container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.head-logo {
  width: 20%;
  margin-left: 5%;
}

#logo {
  height: 70px;
}

.head-button {
  display: none;
}

.nav-bar {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.nav-link {
  display: block;
}

.nav-link-elt {
  display: inline-block;
  padding: 12px 16px;
}

.nav-link-elt a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.nav-link a:hover {
  color: #d1de44;
}

#greyBox {
  display: block;
  text-align: center;
  height: auto;
  background-color: #aaaaaa;
}

#photo1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  top: 10%;
  border: 2px solid #ffffff;
}

h1,h2 {
  font-size: 20px;
}

.left {
  vertical-align: top;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 5%;
  display: inline-block;
  width: 25%;
}

#photo2 {
  width: 100%;
}

.mid {
  vertical-align: top;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 3%;
  display: inline-block;
  width: 25%;
}

#photo3 {
  width: 100%;
}

.right {
  vertical-align: top;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 2%;
  display: inline-block;
  width: 34%;
}

#SideBar {
  background-color: #eeeeee;
  padding-top: 8px;
}

#SideBarHeader {
  text-align: center;
}

.SideBarPar {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
}

.footer {
  display: block;
  overflow: hidden;
  background-color: #000000;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.footer-links a,span {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 10px;
  color: #aaaaaa;
  padding: 20px 14px;
}

.footer-links a:hover {
  color: #d1de44;
}

@media only screen and (max-width: 1000px) {
  h1, h2 {
    font-size: 14px;
  }

  p {
    font-size: 10px;
  }

  .head-logo {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left: 5%;
    width: 35%;
  }

  #logo {
    height: 50px;
  }

  .head-button {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left: 40%;
    width: 15%;
    text-align: right;
  }

  .nav-bar {
    height: 3px;
  }

  .nav-link {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nav-link-elt {
    display: block;
    padding: 2px 2px;
    margin-left: 25%;
    width: 50%;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #ffffff;
  }

  #nav-link-elt-f {
    border-style: solid;
    border-width: 1px;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }

  .nav-link-elt a {
    display: inline;
  }

  #nav-link {
    display: none;
  }

  #button {
    position: relative;
    top: 10px;
    height: 30px;
  }

  .left {
    vertical-align: top;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5%;
    display: block;
    width: 90%;
    direction: rtl;
  }

  .Section-picture {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 50%;
  }

  #photo2 {
    width: 100%;
    margin-top: 15px;
  }

  .Section-par {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-right: 5%;
    width: 40%;
    text-align: left;
  }

  .Section-par p {
    text-align: left;
  }

  .mid {
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    margin-left: 5%;
    display: block;
    width: 90%;
    direction: rtl;
  }

  #photo3 {
    width: 100%;
    margin-top: 15px;
  }

  .right {
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 2%;
    display: inline-block;
    width: 90%;
  }

  .footer {
    height: 30px;
  }

  .footer-links {
    display: none;
  }

}
